aniso8601==1.1.0
appnope==0.1.0
decorator==4.0.9
-e git+git@github.com:greatwhole/dock_hx.git@5f58c1702208707fab35487ab439e4509e042cbc#egg=dock_hx
elasticsearch==1.5.0
Flask==0.10.1
Flask-HTTPAuth==3.1.1
Flask-RESTful==0.3.5
gevent==1.1.1
gnureadline==6.3.3
greenlet==0.4.9
ipython==4.1.2
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
lxml==3.6.0
MarkupSafe==0.23
marshmallow==2.7.0
numpy==1.11.0
pandas==0.18.0
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
ptyprocess==0.5.1
python-dateutil==2.5.2
pytz==2016.3
redis==2.10.5
requests==2.9.1
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.0.12
traitlets==4.2.1
tushare==0.4.9
urllib3==1.15
Werkzeug==0.11.5
